.step-status {
  display: inline-block;
  padding: 0.2em 0.5em 0.1em 0.5em;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  min-width: 4.5em;
  white-space: nowrap;
  text-transform: uppercase;
}

.step-status.status-incomplete {
  background-color: #dee0e2;
  color: #0b0c0c;
}

.step-status.status-completed {
  background-color: #005ea5;
  color: #fff;
}

ol li::marker {
  font-weight: bold;
  font-size: 1.5rem;
}

.align-right {
  text-align: right;
}

.govuk-heading-m {
  margin-bottom: 0;
}